[user]
	email = korey@koreymacdougall.com
	name = koreymacdougall
[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	st = status
    pullom = pull origin master
    pushom = push origin master
