[user]
    email = korey@koreymacdougall.com
    name = koreymacdougall
[merge]
    tool = vimdiff
[alias]
    co = checkout
    br = branch
    st = status
    pullom = pull origin master
    pushom = push origin master
[diff]
    tool = vimdiff

#[credential]
    # set with: git config --global credential.username koreymacdougall
    #username = kmac
[github]
    user = koreymacdougall
    # for token, use an env variable; scary intern3ts
[web]
    browser = firefox
[push]
    default = simple
[credential]
	helper = cache
