! Xterm settings
! face - DejaVu Sans Mono for non-free systems
!      - hack for free systems (with ttf-liberation-fonts, i think)
! xterm*faceName: DejaVu Sans Mono
xterm*faceName: Hack
xterm*faceSize: 14
term*loginShell: true
xterm*saveLines: 5000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false
XTerm*allowBoldFonts: false
xterm*termName: xterm-256color


! gruvbox Xresources palette
*.background: #000000
*.foreground: #FFFFFF
*.cursorColor: #d0d0d0
*.color0: #000000
*.color1: #ff0090
*.color2: #66aa11
*.color3: #c47f2c
*.color4: #AA0000
*.color5: #7e40a5
*.color6: #3579a8
*.color7: #9999aa
*.color8: #303030
*.color9: #ff6666
*.color10: #80ff00
*.color11: #ffba68
*.color12: #fabd2f
*.color13: #bb88dd
*.color14: #4eb4fa
*.color15: #FFFFFF

! original bg color
!*.color0: #262626
!*.background: #282828
