snippet c "insert a new cheat"
## ${1:name}
	- ${2:body}
$0
endsnippet

snippet b "insert bash snippet"
\`\`\`bash
\$ ${1}
\`\`\`
$0
endsnippet

snippet e "insert a new event"
## ${1:Event}
	- Date: ${2:Date}
	- Time: ${3:Time}
	- Location: ${4:Location}
	- Notes: ${5:Notes}
$0
endsnippet
